/* Global Styles */
html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Contenedor principal en Grid */
body {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header - Content - Footer */
  grid-template-columns: 100%;
  min-height: 100vh;
}

/* Diseño responsivo para tablas */
.responsive_table {
  display: grid;
  grid-template-columns: 1fr;
  overflow-x: auto;
  padding: 1rem;
}

.mat-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  min-width: 100%;
}

/* Centrar celdas */
.mat-header-cell, .mat-cell {
  text-align: center;
  padding: 0.5rem;
}

/* Estilos personalizados para Snackbar */
.black-snackbar {
  background: black !important;
  color: white !important;
}

.green-snackbar {
  background: #32CD32 !important;
  color: white !important;
}

/* Mejora en Snack-bar para centrado */
.mat-snack-bar-container {
  display: grid;
  justify-content: center;
  width: min(40vw, 100%);
  max-width: 90%;
  margin-top: 70px !important;
  padding: 20px !important;
}
