<mat-toolbar color="primary" class="custom-toolbar">
  <mat-toolbar-row fxLayout="row">
    <span class="dialog-title">Recuperar Contraseña</span>
    <span class="spacer"></span>
    <button
      class="mat-dialog-close icon-close-button"
      mat-icon-button
      mat-dialog-close
    >
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="custom-dialog-content">
  <form [formGroup]="forgotPasswordForm" class="forgot-password-form">
    <div class="form-fields">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label class="custom-label">Correo Electrónico</mat-label>
        <input matInput formControlName="email" class="custom-input" required />
        <mat-error
          *ngIf="
            forgotPasswordForm.controls.email.touched &&
            forgotPasswordForm.controls.email.invalid
          "
        >
          <span *ngIf="forgotPasswordForm.controls.email.errors.required"
            >Este campo es obligatorio.</span
          >
          <span *ngIf="forgotPasswordForm.controls.email.errors.pattern"
            >Correo inválido.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="action-buttons">
  <button
    class="send-button"
    mat-raised-button
    type="submit"
    (click)="handleSubmit()"
    [disabled]="forgotPasswordForm.invalid || forgotPasswordForm.pristine"
    [ngClass]="{
      enabled: !forgotPasswordForm.invalid && !forgotPasswordForm.pristine
    }"
  >
    <mat-icon>send</mat-icon>
    Enviar
  </button>
  <button class="close-button" mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>
    Cerrar
  </button>
</mat-dialog-actions>
