// Asegurar que el fondo del componente sea blanco
:host {
  display: block;
  width: 100%;
  background-color: #ffffff; // Fondo blanco
}

 /*  Bot贸n de cierre (铆cono en la esquina) */
 .mat-dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #f44336;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  transition: background 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #f44336;
    color: white;
    
  }
  mat-icon {
    font-size: 1.5rem;
  }
}
// Barra de herramientas superior (rojo con texto blanco)
mat-toolbar {
  background-color: #f44336; // Rojo vibrante
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

// Contenido del di谩logo
mat-dialog-content {
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  

  h6 {
    font-size: 16px;
    color: #333; // Texto oscuro
    font-weight: bold;
  }
}

// Estilo de los botones
mat-dialog-actions {
  display: flex;
  justify-content: center;
  gap: 30px;  // Aumenta el espacio entre botones
  padding: 50px 100px;

  button {
    min-width: 120px; // Ajuste para mejor apariencia
    font-weight: bold;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 0 15px; // Agrega separaci贸n adicional entre botones
  }

  // Estilo del bot贸n "Yes" (Confirmar)
  button[color="primary"] {
    background-color: #d32f2f; // Rojo oscuro
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: #b71c1c; // Rojo m谩s oscuro al pasar el mouse
    }
  }

  // Estilo del bot贸n "No" (Cancelar)
  button[color="warn"] {
    background-color: #f44336; // Rojo vibrante
    color: white;

    &:hover {
      background-color: #d32f2f; // Rojo oscuro al pasar el mouse
    }
  }
}

