<!-- Navigation list with custom accordion behavior -->
<mat-nav-list appAccordion>
  <!-- List item generated for each menu-item returned by getMenuItems .getMenuItems()-->
  <mat-list-item appAccordionLink
                 *ngFor="let menuItem of MenuItems.getMenuitems()"
                 [routerLinkActive]="'selected'" group=menuItem.state>
    <!-- Anchor tag with routerLink for navigation, only rendered if menuItem is a link and matches user role -->
    <a appAccordionToggle [routerLink]="['/cafe', menuItem.state]"
    *ngIf="menuItem.type === 'link' && (menuItem.role === '' || menuItem.role.toLowerCase() === userRole.toLowerCase())">
   <mat-icon>{{ menuItem.icon }}</mat-icon>
   <span>{{ menuItem.name }}</span>
 </a>
  </mat-list-item>
</mat-nav-list>
