@use '@angular/material/theming' as matTheming;

$primary: matTheming.define-palette(matTheming.$red-palette, 600);
$accent: matTheming.define-palette(matTheming.$red-palette, 500);
$warn: matTheming.define-palette(matTheming.$red-palette, 500);
$theme: matTheming.define-light-theme((
  primary: $primary,
  accent: $accent,
  warn: $warn
));

@include matTheming.all-component-themes($theme);
