<div class="reset-password-container">

  <div class="top-bar"></div>

 
  <div class="header">Restablecer Contraseña</div>

 
  <div class="form-content">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="newPassword">Nueva Contraseña:</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          placeholder="Ingrese su nueva contraseña"
        />
        <div class="error-message" *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
          La contraseña debe tener al menos 6 caracteres.
        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword">Confirmar Contraseña:</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirme su nueva contraseña"
        />
        <div class="error-message" *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
          Las contraseñas no coinciden.
        </div>
      </div>
  
      <button class="reset-button" [ngClass]="{'enabled': resetPasswordForm.valid}" [disabled]="!resetPasswordForm.valid" type="submit">Restablecer Contraseña</button>

      <p class="success-message" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
</div>
