<!-- Card for managing categories with a title and an add button -->
<mat-card>
    <b><span>Gestionar Categoría</span></b>
    <button mat-flat-button color="primary" class="float-right" (click)="handleAddAction()">
      <mat-icon>add_circle</mat-icon> Agregar Categoría
    </button>
  </mat-card>
  <hr>
  
  <!-- Card containing a filter input for the table -->
  <mat-card>
    <mat-form-field appearance="fill">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
  </mat-card>
  <hr>
  
  <!-- Responsive container for the category table -->
  <div class="responsive_table">
    <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
  
      <!-- Column definition for the category name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
  
      <!-- Column definition for the actions (Edit button) -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Acción</th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <button mat-icon-button color="primary" matTooltip="Edit" (click)="handleEditAction(element)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <!-- Data rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    </table>
  </div>
  