<body>
  <mat-card class="titulo">
    <b><span>Dashboard</span></b>
  </mat-card>
  <br />

  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Categoría Total:</h2>

          <h1 class="title">{{ data?.category }}</h1>

          <p>
            <button class="button" [routerLink]="['/cafe/category']">
              Ver categoría
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Producto Total:</h2>

          <h1 class="title">{{ data?.product }}</h1>

          <p>
            <button class="button" [routerLink]="['/cafe/product']">
              Ver producto
            </button>
          </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title">Factura total:</h2>

          <h1 class="title">{{ data?.bill }}</h1>

          <p>
            <button class="button" [routerLink]="['/cafe/bill']">
              Ver factura
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
